h1 {
color: rgb(255, 0, 13);
background-color: antiquewhite;
text-align: center;
font-size: 60px;
}

h2{
color: rgb(15, 15, 13)0, 247);
font-size: 37px
}

p{
font-size: 25px;
}

body{
background-color: antiquewhite;

}